{% extends 'base_layout.html' %}


{% block content %}
    <div class="container mt-5">
        <h1 class="text-primary">Cookies on go-cart.io</h1>

        <p>Cookies are small files stored in your browser that store information about your session and how you are using
            our website. We use two types of cookies.</p>

        <h2 class="text-primary">Performance Cookies</h2>

        <p>We use Google Analytics to gather statistics on how people like you use our website. Google Analytics stores
           cookies for collecting anonymized information about how you arrived at our website, what pages on our website
           you visit, and how long your visit lasts. Google does not use or share data about how you use our website.
        </p>

        <p>You may opt-out of receiving these cookies.</p>

        <h2 class="text-primary">Strictly Necessary Cookies</h2>

        <p>These cookies store information about your session that is necessary for the website to function properly.</p>

        <p>Strictly necessary cookies cannot be turned off.</p>

    </div>
{% endblock %}

